@font-face {
    font-family: KoHo;
    src: url(../letras/KoHo/KoHo-Bold.ttf);
}

* {
    font-family: 'Koho';
    color: white;
}

.icono {

    margin-top: 4%;
    margin-right: 2%;
    color: #0d7e09;
    margin-left: 6%;
    font-size: 30px;
    padding: 7px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    border: 2px solid #2FBFA1;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(190, 170, 170, 0.3);
    box-shadow: inset 0 0 15px 0 rgba(139, 3, 3, 0.3);
    text-shadow: 0 1px 0 rgba(212, 10, 10, 0.87);

}

.icono:hover {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #1d913a;
}

h1 {
    font-size: 60px;
    Color: #39FF14;
    text-align: center;
    font-family: 'Koho';

}

.logo {
    width: 800px;
    height: 200px;
    float: left;
    margin-right: 15%;

}

body {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(238, 6, 6);


}

.tabla {
    margin-left: 180px;
    margin-right: 180px;
    background-color: rgb(13, 43, 163);
    text-align: center;

}

.tabla ul {
    list-style: none;
    margin: 2%;
    padding: 0;

}

.tabla ul li {
    display: inline-block;
    padding: 5px;
}

.tabla ul li a {
    color: white;
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;

}

.tabla ul li a:hover {
    background-color: cornflowerblue;
}

h3 {
    text-align: left;
    color: #39FF14;
}

p {
    text-align: left;
}

footer {
    color: white;
    width: 100%;
    clear: left;
    text-align: center;
    font-size: 1.5em;
    margin-top: 200px;
    border-top: 4px solid rgb(33, 124, 71);

}

.cerrar {

    box-shadow:
        1px 1px 0 #1d913a,
        2px 2px 0 #1d913a,
        3px 3px 0 #1d913a,
        4px 4px 0 #1d913a,
        5px 5px 0 #1d913a;
    font-size: 1.2em;
    color: #39FF14;
}

tr {
    border-collapse: separate;
    border-spacing: 5px;
    color: #fff;
    text-align: center;
}

tr,
td {
    background: rgba(255, 255, 255, 0.3);
    color: black;
}

h2 {
    text-align: left;
    color: #39FF14;
    text-align: center;
}

.volver{
    font-size: 25px;
}

.buscar {
    display: flex;

  color: black ;
    width: 40%;
    flex-direction: row;
    box-shadow:
        1px 1px 0 #1d913a,
        2px 2px 0 #1d913a,
        3px 3px 0 #1d913a,
        4px 4px 0 #1d913a,
        5px 5px 0 #1d913a,
        6px 6px 0 #1d913a;
}

.buscar>input[type=text],
.buscar>button  {
    color: black;
    display: block;
    font: 1.2em 'Montserrat Alternates';
    
 
}

.buscar>input[type=text] {
    flex: 1;
    padding: 0.6em;
    border: 0.2em solid rgb(26, 188, 156);
    color: black;
}

.buscar>button {
    padding: 0.6em 0.8em;
    background-color: rgb(26, 188, 156);
    color: black ;
    border: none;
}

.boton{
   color: black;
   text-align: center;
   font-size: 20px;
}


.tabla1 {
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(41, 42, 46);
    text-align: center;

}

.tabla1 ul {
    list-style: none;
    margin: 2%;
    padding: 0;

}

.tabla1 ul li {
    display: inline-block;
    padding: 5px;
}

.tabla1 ul li a {
    color: white;
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;

}

.tabla1 ul li a:hover {
    background-color: cornflowerblue;
}
